@using System.Reflection
@model AnaliseCreditoViewModel

@{
    ViewData["Title"] = "Resultado da Consulta";
}
@section Styles  {
<link href="@Url.Content("~/css/ResultStyleSheet.css")" media="screen" rel="stylesheet" type="text/css" runat="server" />
}
<head>
    <link rel="stylesheet" href="~/css/ResultStyleSheet.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<form asp-action="GerarParecer" id="dataForm" method="POST">
    <!-- Nome do Cooperado -->
    <div class="form-group">
        <label>Nome do Cooperado</label>
        <input type="text" class="form-control" name="" value="@Model.patrimonioCadastroAssociado.Nome">
    </div>
    <!-- Finalidade -->
    <div class="form-group">
        <label>Finalidade</label>
        <input asp-for="formValues.finalidade" type="text" class="form-control">
    </div>
    <!-- Servidor Público e suas opções-->
    <div class="form-group">
        <label for="servidor-publico">Servidor Público?</label>
        <select id="servidor-publico" asp-for="formValues.servidorPublico" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
        </select>
    </div>

    <div id="aposentado-container" class="form-group" style="display: none;">
        <label for="aposentado">Aposentado ou Ativo?</label>
        <select id="aposentado" asp-for="formValues.situacao" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="aposentado">Aposentado</option>
            <option value="ativo">Ativo</option>
        </select>
    </div>

    <div id="tipo-container" class="form-group" style="display: none;">
        <label for="tipo">Tipo de Servidor</label>
        <select id="tipo" asp-for="formValues.tipoServidor" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="efetivo">Efetivo</option>
            <option value="comissionado">Comissionado</option>
        </select>
    </div>

    <div id="profissao-container" class="form-group" style="display: none;">
        <label  type="text">Profissão</label>
        <input asp-for="formValues.profissao" id="profissao" type="text" class="form-control">
    </div>

    <div id="empresa-container" class="form-group" style="display: none;">
        <label>Empresa</label>
        <input asp-for="formValues.empresa" id="empresa" type="text" class="form-control">
    </div>

    <div id="periodo-container" class="form-group" style="display: none;">
        <label>Período na Empresa</label>
        <input asp-for="formValues.periodo_Empresa" id="periodo" type="text" class="form-control">
    </div>
    <!--Valor crédito, Renda Bruta, Renda Liquida-->
    <div class="row">
        <div class="col-md-4 mb-3">
            <label asp-for="formValues.ValorCredito">Valor Crédito</label>
            <input type="text" class="form-control" value="" name="valor-credito">
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="@Model.patrimonioCadastroAssociado.RendaBrutaMensal">Renda Bruta</label>
            <input type="text" class="form-control" id="rendaBrutaMensal" value="@Model.patrimonioCadastroAssociado.RendaBrutaMensal" name="rendaBrutaMensal">
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="formValues.rendaLiquida">Renda Líquida</label>
            <input type="text" class="form-control" value="" name="renda-liquida">
        </div>
    </div>
    <!--Demonstrativo do ano e Imposto de Renda -->
    <div class="row">
        <div class="form-group col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="demonstrativoAno" name="demonstrativoAno" asp-for="formValues.demonstrativoano">
                <label class="form-check-label">
                    Demonstrativo do Ano (Anexo ao SISBR)
                </label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="impostoRenda" name="impostoRenda" asp-for="formValues.impostorenda">
                <label class="form-check-label">
                    Imposto de Renda
                </label>
            </div>
        </div>
    </div>
    <H3>Relacionamento</H3>

    <!--Associado Desde, Cota Capital, Aplicação e Margem de Contribuição -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="associado-desde">Associado Desde</label>
                <input type="text" class="form-control" value="@Model.patrimonioCadastroAssociado.DataInicioRelacionamento.ToString("dd/MM/yyyy")" name="associado-desde">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="cota-capital">Cota Capital</label>
                <input type="text" class="form-control" id="cota-capital" value="@Model.aplicacaoCota?.SaldoClienteContaCapitalDiario" name="cota-capital">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="aplicacao">Aplicação</label>
                <input type="text" class="form-control" id="aplicacao" value="@Model.aplicacaoCota?.SaldoDiarioRDC" aplicacao">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="margem-contribuicao">Margem de contribuição</label>
                <input type="text" class="form-control" id="margem-contribuicao" value="@Model.margemContribuicao?.ResultadoAssociados" name="margem-contribuicao">
            </div>
        </div>
    </div>
    <!-- IAP -->
    @if (Model.iAP != null)
    {
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>IAP</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PropertyInfo propertyInfo in Model.iAP.GetType().GetProperties())
                {
                    var val = propertyInfo.GetValue(Model.iAP);
                    if (val.ToString().Contains("SIM"))
                    {
                        <tr>
                            <td>@propertyInfo.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Sem dados do IAP.</p>
    }
    <!---Cheque especial - Valor Contratado, valor utilizado, dias de utilização-->
    <div class="row">
        <label class="col-md-12" style="text-align: center; font-size: 30px">Cheque Especial</label>
        <div class="col-md-4">
            <div class="form-group">
                <label for="associado-desde">Valor Contratado</label>
                <input type="text" class="form-control" id="associado-desde" value="@Model.chequeEspecial?.ValorLimiteCreditoContratato" name="associado-desde">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="aplicacao">Valor Utilizado</label>
                <input type="text" class="form-control" id="aplicacao" value="@Model.chequeEspecial?.ValorUtilizado" name="aplicacao">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="margem-contribuicao">Dias de Utilização</label>
                <input type="text" class="form-control" id="margem-contribuicao" value="@Model.chequeEspecial?.QuantidadeDiasUtilizacao" name="margem-contribuicao">
            </div>
        </div>
    </div>
    <!--Limite CLL - Limite Concedido, Valor Utilizado, Vencimento -->
    <div class="row">
        <label class="col-md-12" style="text-align: center; font-size: 30px">Limite CCL</label>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="formValues.limiteConcedidoCLL">Limite Concedido</label>
                <input type="text" class="form-control" id="associado-desde" value="@Model.limiteCCL?.ValorLimiteConcedido" name="associado-desde">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="formValues.valorUtilizadoCLL">Valor Utilizado</label>
                <input type="text" class="form-control" id="aplicacao" value="@Model.limiteCCL?.ValorLimiteUtilizado" name="aplicacao">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="formValues.vencimentoCLL">Vencimento</label>
                <input type="text" class="form-control" id="margem-contribuicao" value="@Model.limiteCCL?.DataVigenciaLimite" name="margem-contribuicao">
            </div>
        </div>
    </div>
    <!-- Valor Contratado, Pre aprovado -->
    <div class="row">
        <label class="col-md-12" style="text-align: center; font-size: 30px">Limite Utilizado Pré Aprovado</label>
        <div class="col-md-5">
            <div class="form-group">
                <label for="associado-desde">Limite Contratado</label>
                <input type="text" class="form-control" id="associado-desde" value="@Model.preAprovado?.ValorLimiteContratado" name="associado-desde">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="cota-capital">Pre aprovado </label>
                <input type="text" class="form-control" id="cota-capital" value="@Model.preAprovado?.ValorLimiteUtilizado" name="cota-capital">
            </div>
        </div>
    </div>
    <!-- Cartões de crédito -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="bg-success" style="text-align:center" colspan="5">Cartão de Crédito</td>
            </tr>
            <tr>
                <td>Valor Dívida Consolidada</td>
                <td>Valor Limite Atribuído</td>
                <td>Valor Limite Disponível</td>
                <td>Valor Limite Utilizado</td>
                <td>Vencido?</td>
            </tr>
        </thead>
        <tbody>
            @{
                var cartao = Model.cartoes?.OrderByDescending(c => c.Datas).FirstOrDefault();
                // get the item with the most recent date by sorting the list in descending order and selecting the first item
                // if the list is empty, item will be null
            }
            @if (cartao != null) // only display the item if it exists
            {
                string vencimento = cartao.DividaConsolidada > cartao.LimiteUtilizado ? "Sim" : "Não";
                <tr>
                    <td>@cartao.DividaConsolidada</td>
                    <td>@cartao.LimiteAtribuido</td>
                    <td>@cartao.LimiteDisponivel</td>
                    <td>@cartao.LimiteUtilizado</td>
                    <td>@vencimento</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Saldo Devedor-->
    @if (Model.endividamentoInterno != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="bg-success" style="text-align:center" colspan="12">Saldo Devedor</td>
                </tr>
                <tr>
                    <td>Modalidade Produto</td>
                    <td>Valor Contrato</td>
                    <td>Quantidade de Parcelas</td>
                    <td>Parcelas Abertas</td>
                    <td>Saldo Devedor</td>
                    <td>INAD 15</td>
                    <td>INAD 90</td>
                    <td>Prejuízo</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.endividamentoInterno)
                {

                    <tr>
                        <td>@item.ModalidadeProduto</td>
                        <td>@item.ValorContrato</td>
                        <td>@item.QuantidadeParcelas</td>
                        <td>@item.QuantidadeParcelasAbertas</td>
                        <td>@item.SaldoDevedorDiario</td>
                        @if (item.INAD15 > 0)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        @if (item.INAD90 > 0)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }

                        @if (item.SaldoDevedorDiario > 0 && item.ModalidadeProduto.Contains("PREJUIZO"))
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                    </tr>
                }
                <tr>
                    <td colspan="2">Total de Contrato</td>
                    <td>@Model.TotalContrato</td>
                    <td colspan="4">Divida Total Devedor</td>
                    <td>@Model.TotalDevedor</td>
                </tr>
            </tbody>
        </table>
    }

    <!-- Garantias do Consultado-->
    @if (Model.garantias != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="bg-success" style="text-align:center" colspan="5">Garantias</td>
                </tr>
                <tr>
                    <td>Garantias Enquadramento</td>
                    <td>Tipo de Garantia Enquadramento</td>
                    <td>Valor Total Garantia</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.garantias)
                {
                    <tr>
                        <td>@item.GarantiaEnquadramento</td>
                        <td>@item.TipoGarantiaEnquadramento</td>
                        <td>@item.ValorTotalGarantia</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <!-- Media entrada trimestral, media entrda semestral, saldo medio trimestral, pacote tarifa, portabilidade salarial-->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="associado-desde">Media Entrada Trimestral</label>
                <input type="text" class="form-control" id="associado-desde" value="@Model.MediaEntradaTrimestral" name="associado-desde">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="cota-capital">Media Entrada Semestral</label>
                <input type="text" class="form-control" id="cota-capital" value="@Model.MediaEntradaSemestral" name="cota-capital">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="aplicacao">Saldo Medio Trimestral</label>
                <input type="text" class="form-control" id="aplicacao" value="@Model.SaldoMedioTrimestral" name="aplicacao">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="margem-contribuicao">Pacote Tarifa</label>
                <input type="text" class="form-control" id="margem-contribuicao" value="@Model.tarifas?.Tarifa" name="margem-contribuicao">
            </div>
        </div>
    </div>
    <!-- Portabilidade Salarial-->
    <div class="form-group">
        <label for="servidor-publico">Portabilidade Salarial</label>
        <select asp-for="formValues.portabilidadesalarial" id="servidor-publico" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="@true">Sim</option>
            <option value="@false">Não</option>
        </select>
    </div>

    <H3>Informações Externas</H3>
    <!--Serasa-->
    @if (Model.serasaDetalhado != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="bg-success" style="text-align:center" colspan="5">Serasa</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Score</td>
                    <td><input type="text" class="form-control" id="Score" value="@Model.serasaDetalhado?.Score" name="Score"></td>
                </tr>
                <tr>
                    <td>Apontamentos</td>
                    <td>
                        <table>
                            @foreach (var prop in Model.serasaDetalhado.GetType().GetProperties().Skip(3))
                            {
                                if (prop.GetValue(Model.serasaDetalhado, null) != null && Convert.ToDecimal(prop.GetValue(Model.serasaDetalhado, null)) > 0)
                                {
                                    <tr>
                                        <td>@prop.Name</td>
                                        <td>@prop.GetValue(Model.serasaDetalhado, null)</td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p>Sem dados do Serasa.</p>
    }
    <!-- Endividamento Externos-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="bg-success" style="text-align:center" colspan="5">Endividamento Externo</td>
            </tr>
            <tr>
                <td>Submodalidae BACEN</td>
                <td>Endividamento até 1 ano</td>
                <td>Vencido SFN</td>
                <td>Prejuízo SFN</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.endividamentoExterno)
            {
                <tr>
                    <td>@item.SubmodalidadeBacen</td>
                    <td>@item.ValorVencerAte360Dias</td>
                    <td>@item.ValorVencido</td>
                    <td>@item.Prejuizo</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Receita federal, histórico, processo TJ-->
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input asp-for ="formValues.receitaFederal" type="text" class="form-control" placeholder="Receita Federal">
                <div class="input-group-append links-buttons-color">
                    <a href="https://solucoes.receita.fazenda.gov.br/Servicos/cnpjreva/Cnpjreva_Solicitacao.asp" class="btn btn-outline-secondary">Consultar Receita Federal</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input asp-for="formValues.historico" type="text" class="form-control" placeholder="Histórico">
                <div class="input-group-append links-buttons-color">
                    <a href="#" class="btn btn-outline-secondary">Consultar Histórico</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input asp-for="formValues.processoTJ" type="text" class="form-control" placeholder="Processo TJ">
                <div class="input-group-append links-buttons-color">
                    <a href="#" class="btn btn-outline-secondary">Consultar Processo TJ</a>
                </div>
            </div>
        </div>
    </div>

    <h3>Garantias</h3>

    <!-- Tipos de Garantias-->
    <div class="form-group">
        <label asp-for="formValues.tipoGarantia">Tipo de garantia</label>
        <select id="garantia" name="formValues.tipoGarantia" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="Real">Garantia Real</option>
            <option value="Pessoal">Garantia Pessoal</option>
        </select>
    </div>
    <div id="garantia-real" style="display:none;">
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="formValues.garantiaRealTipos">Tipos</label>
                <input type="text" class="form-control" id="tipos">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="formValues.garantiaRealValor">Valor</label>
                <input type="text" class="form-control" id="valor">
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="documentacao">
            <label class="form-check-label" for="documentacao">Documentação anexada?</label>
        </div>
    </div>
    <div id="garantia-pessoal" style="display:none;">
        @await Html.PartialAsync("_PartialView")
    </div>
    <h3>Enquadramento</h3>
    <!-- Cadastro Atualizado-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="associado-desde">Cadastro Atualizado - Data da Ultima Atualização</label>
                <input type="text" class="form-control" id="" value="@Model.patrimonioCadastroAssociado.DataUltimaRenovacaoCadastral.ToString("dd/MM/yyyy")" name="associado-desde">
            </div>
        </div>
    </div>
    <!--CRL - Letra. Limite Atribuido,  Data da cLASSIFICAÇÃO-->
    <div class="row">
        <label class="col-md-12" style="text-align: center; font-size: 30px">CRL</label>
        <div class="col-md-4">
            <div class="form-group">
                <label for="margem-contribuicao">Letra</label>
                <input asp-for="formValues.letra" type="text" class="form-control" id="margem-contribuicao" value="" name="margem-contribuicao">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="aplicacao">Limite Atribuido</label>
                <input asp-for="formValues.limiteAtribuidoCRL" type="text" class="form-control" id="aplicacao" value="" name="aplicacao">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="margem-contribuicao">Data da Classificação</label>
                <input asp-for="formValues.limiteAtribuidoCRL" type="text" class="form-control" id="margem-contribuicao" value="" name="margem-contribuicao">
            </div>
        </div>
    </div>
    <!--Risco da Operação-->
    <div class="form-group">
        <label>Risco da Operação</label>
        <input asp-for="formValues.riscoOperacao" type="text" class="form-control" value="">
    </div>
    <!--Linha de Crédito-->
    <div class="form-group">
        <label>Linha de Crédito</label>
        <input asp-for="formValues.linhaCredito" type="text" class="form-control" value="">
    </div>
    <!--Condições da Operação-->
    <div class="row">
        <label class="col-md-12" style="text-align: center; font-size: 30px">Condições da Operação</label>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Valor-Total">Valor Total</label>
                <input asp-for="formValues.condicoesOperacaValorTotal" type="text" class="form-control" id="valor-total-emprestimo" value="" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="aplicacao">Quantidade de Parcela</label>
                <input asp-for="formValues.condicoesOperacaQuantidadeParcela" type="text" class="form-control" id="aplicacao" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="margem-contribuicao">Valor das Parcelas</label>
                <input asp-for="formValues.condicoesOperacaValorParcelas" type="text" class="form-control" id="ValorParcelas" value="">
            </div>
        </div>
    </div>
    <!--Vencimento-->
    <div class="form-group">
        <label>Vencimento</label>
        <input asp-for="formValues.condicoesOperacaVencimento" type="text" class="form-control" value="">
    </div>
    <!--Capacidade de Pagamento-->
    <div class="form-group">
        <label>Capacidade de Pagamento</label>
        <input asp-for="formValues.condicoesOperacaCapacidadePagamento" type="text" class="form-control" id="capacidade-pagamento" value="">
    </div>
    <!--Seguro Prestamista-->
    <div class="form-group">
        <label>Seguro Prestamista</label>
        <input asp-for="formValues.seguroPrestamista" type="text" class="form-control" id="seguro_prestamista" value="">
    </div>
    <!-- Doc.Proposta Completa & Ficha Cadastral Assinada -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="doc-proposta">Doc.Proposta Completa</label>
                <select asp-for="formValues.docPropostaCompleta" id="doc-proposta" class="form-control">
                    <option value="">Selecione uma opção</option>
                    <option value="real">Sim</option>
                    <option value="pessoal">Não</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ficha-cadastral">Ficha Cadastral Assinada</label>
                <select asp-for="formValues.fichaCadastralAssinada" id="ficha-cadastral" class="form-control">
                    <option value="">Selecione uma opção</option>
                    <option value="real">Sim</option>
                    <option value="pessoal">Não</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Anexada na Plataforma de Atendimento & Questionario conheça seu cliente-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="doc-proposta">Anexada na Plataforma de Atendimento</label>
                <select asp-for="formValues.plataformaAtendimento" id="doc-proposta" class="form-control">
                    <option value="">Selecione uma opção</option>
                    <option value="real">Sim</option>
                    <option value="pessoal">Não</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ficha-cadastral">Questionario conheça seu cliente</label>
                <select asp-for="formValues.conhecaCliente" id="ficha-cadastral" class="form-control">
                    <option value="">Selecione uma opção</option>
                    <option value="real">Sim</option>
                    <option value="pessoal">Não</option>
                </select>
            </div>
        </div>
    </div>
    <!-- Outras Condições-->
    <div class="form-group">
        <label>Outras Condições</label>
        <input asp-for="formValues.outrasCondicoes" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
        <label for="parecer-favoravel">Parecer Favoravel?</label>
        <select asp-for="formValues.parecerFavoravel" id="parecer-favoravel" name="parecerFavoravel" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Gerar Parecer</button>

    <!-- Hidden Fields - Used for calculations-->
    <div class="form-group" id="#hiddenFieldsContainer">
        <input type="hidden" id="valorVencerAte360Dias" value="@Model.endividamentoExterno.Sum(x => x.ValorVencerAte360Dias)" name="valorVencerAte360Dias">
        <input type="hidden" id="idade" value="@Model.patrimonioCadastroAssociado.Idade" name="idade">
        <input type="hidden" id="saldoTotalDevedor" value="@Model.TotalDevedor" name="saldoTotalDevedor">
        <!-- Add more hidden input fields here if needed -->
    </div>

</form>
<script src="~/js/Result.js"></script>


@section scripts
{

}
